extends _templates/layout.pug

block prepend title
   - var title = "Blog"

block append styles
   link(rel="stylesheet" type="text/css" href="/css/blog.css")

block canvas 
    canvas.webgl

block content
   main
      header 
         h1(title="Hruška Design" aria-label="Hruška Design")
            a(href="/")
               span.name hruska
               span.domain design
               //span.dot _

         nav
            a(href="/") Work
            a(href="" active) Blog
      articles
         if mvb.articles.length > 0
            each year in mvb.groupedArticles.byYear
               year-group
                  h2= year.year
                  ul
                     each a in year.articles
                        - var options = { day: '2-digit', month: 'short' };         
                        li
                           article
                              date= a.date.toLocaleDateString("en", options)
                              h3 
                                 a(href=`/articles/${a.id}/`)= a.title
         else
            div
               p.no-articles No articles, yet.
               p But hey, I'll keep them coming soon.
      a(href="/atom.xml").subscribe-link Subscribe
      
      //articles
         each tag, name in mvb.groupedArticles.byTag
            year-group
               h2= name
               ul
                  each a in tag 
                     li
                        article
                           h3 
                              a(href=`articles/${a.id}.html`)= a.title
                           date= a.date.toLocaleDateString("cs-CS", options)

block append body-scripts
    script(src="/js/particles-blog.js" type="module") 